body {
background-color: rgb(162, 173, 209);
}
h1 {
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: darkslateblue;
}
.container {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}
.img {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  float: left;
  padding-left: 60px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.background {
  background-color: white;
  border: 2px solid;
  border-color: black;
  padding: 8px;
}
.red {
  color: darkred;
}
.listfont li a {
  color: black;
  font-style: oblique;
}
.style p ul {
  color: black;
  font: message-box;
}