.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.img {
  display: block;
  width: auto;
  height: auto;
  float: left;
  object-fit: contain;
}
.container {
  width: 10px;
  height: 10px;
}
h1 {
  color: darkslategray;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: darkslateblue;
}
.font li a {
  color: black;
  font-style: oblique;
}
p {
  color: black;
  font: message-box;
}
.red {
  color: darkred;
}
.background {
  background-color: white;
}