.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.img {
  width: 25%;
  height: 25%;
  float: left;
  margin-left: 1px;
}
h1 {
  color: darkslategray;
  font-size: 50px;
}
h2 {
  color: darkslateblue;
}
.font li a {
  color: black;
  font-style: oblique;
}
p {
  color: black;
  font: message-box;
}
.red {
  color: darkred;
}
.background {
  background-color: white;
}